body,
html {
    height: 100%;
}


/*Hero image*/

.hero-image {
    background-image: url("images/tracks.jpg");
    /*set specific height*/
    height: 50%;
    /*Position and center the image to scale on all devices. Will include Bootstrap for project*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/*correct scroll for picture so that the image can't change*/

.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.btn btn-primary {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    /*border-radius: 50%;*/
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}


/*-----Animate hamburger menu-----*/

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/*----------Sidenav navigation menu---------*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}


/*-----Navigation menu links----- */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/*-----Change color when you move your mouse over the links-----*/

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}


/*-----Position and style of the close button-----*/

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/*-----Style page content that is pushed to the right-----*/

#main {
    transition: margin-left .5s;
    padding: 16px;
}


/*-----Style of the navigation bar is changed for smaller screens-----*/

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}