body,
html {
    height: 100%;
    
}

* {
    font-family: 'Lato', sans-serif;;
}







/*-----Need to remove text-decoration from links-----*/


/*a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}*/