body,
html {
    height: 100%;
    
}

* {
    font-family: 'Cutive Mono', monospace;
}



/*-----navigation bar-----*/

.w3-top {
    text-decoration: none; /* remove underline on links in navbar and add hover*/
}

